[Unit]
Description=The Yodiwo LoRa Gateway

[Service]
WorkingDirectory=/opt/yodiwo-gateway/packet_forwarder/lora_pkt_fwd/
ExecStart=/opt/yodiwo-gateway/packet_forwarder/lora_pkt_fwd/start.sh
SyslogIdentifier=yodiwo-gateway
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
